body{
    background-color: rgb(224, 208, 248);
}

h1{
    font-size: 56 px;
    text-align: center;
}
h2{
    font-size: 36 px;
    text-align: center;
}

p{
    font-size: 28 px;
    text-align: justify;
}

#ex{
    font-size: 28 px;
    text-align: center;
}

img{
    height: 200 px;
    width: 200 px;
}

div{
    text-align:center;
    width:max-content;
    height:max-content;
    margin:0 auto; 
}
table, tr, td{
    border: black solid 2px;
}
